<!DOCTYPE html>
<html>
<head>
  <title>UngcLead</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag @asset_module || "application" %>
</head>

<body class="<%= controller.controller_name %>" ng-app="<%= @angular_module %>">

  <%= render partial: "layouts/header" %>

    <div class="contentWrap">
      <%= yield %>
    </div> <!-- /container -->

</body>

</html>
